* {
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --border: 3px solid #93272e;
  --bg1: rgba(207, 207, 207, 0.527);
  --bg2: black;
  --btn: #83212b;
  --shadow: 0 0 8px rgba(255, 136, 0, 0.64);
}

html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "poppins", cursive;
}

header {
  background-color: #ff6881;
  padding-top: calc(env(safe-area-inset-top) + 12px);
}

body {
  /* background-image: url("bunga.png"); */
  background-position: top center;
  background-size: cover;
  /*  */
  transition: background-image 1.5s ease-in-out;
  position: relative;
  /* color: white; */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

/* liquid glass */
.nav-icons,
.music-button {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15),
    inset 0 0 0.5px rgba(255, 255, 255, 0.6);
}

p {
  font-size: clamp(12px, 3vw, 17px);
}

h2 {
  font-size: clamp(15px, 3vw, 25px);
}
/* halaman 1 (cover) ============================= */
.hero {
  min-height: 100svh;
  min-height: 100dvh;
  background-image: url("foto/image copy.png");
  background-size: cover;
  background-position: -10px center;
  background-repeat: repeat;
  font-family: "Poppins", cursive;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-grid {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  text-align: center;
}

.hero-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-top h1,
.hero-top h3,
.hero-top p,
.hero-bottom p,
.hero-bottom small {
  margin: 0;
  color: white;
  z-index: 2;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.445);
}
.hero-top h3,
.hero-top p {
  font-weight: 200;
}

.hero-bottom small {
  font-size: clamp(7px, 2.9vw, 15px);
  margin-bottom: 20px;
}
.hero-top h3 {
  padding-top: 70px;
}
.hero-top h1 {
  font-family: "Tangerine", cursive;
  font-size: clamp(70px, 8vw, 90px);
}

.btn {
  margin: 10px auto;
  padding: 10px;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  z-index: 2;
  background-color: #ff6881;
}

/* halaman 2 (ayat dan doa) ======================== */
/* untuk scroll agar tidak mepet */
#page2,
#about,
#rsvp,
#gift,
#detail {
  scroll-margin-top: 20px;
}

.page2 {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  text-align: center;
  background: var(--bg1);
  border-radius: 20px;
  border: var(--border);
  /* backdrop-filter: blur(9px); */
}

.page2 .arabic {
  font-weight: 800;
}

/* halaman 3 (data dari calon mempelai) ============ */
.calonmempelai {
  padding: 50px 15px;
  background: var(--bg1);
  border-radius: 20px;
  border: var(--border);
  margin: 20px;
}

.calonmempelai h2 {
  font-family: "Tangerine";
  font-size: 40px;
  font-weight: 900;
}
.foto {
  width: 200px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  border: var(--border);
}

.foto-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ig {
  font-size: 0.85rem;
  color: white;
  background: linear-gradient(1600deg, #fcaf45, #fd1d1d, #833ab4);
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 20px;
}
.ig i {
  margin-right: 4px;
}

.desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.text {
  max-width: 260px;
}

.text.pria {
  text-align: right;
}

.text.wanita {
  text-align: left;
}

.desktop .text.pria .nama {
  line-height: 1.2;
}

.mobile {
  display: none;
}

/* kisah kami ====================================================== */
.story {
  padding: 20px;
  margin: 20px;
  background: var(--bg1);
  border-radius: 20px;
  border: var(--border);
}

.story h2 {
  text-align: center;
  padding-bottom: 20px;
}
.story-item {
  display: flex;
  align-items: center;
  gap: 40px;
}

.story-text,
.story-image {
  flex: 1;
}

.story-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  border: var(--border);
}

/* zig-zag */
.story-item.reverse {
  flex-direction: row-reverse;
}

/* countdown ====================================================== */
#countdown {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: nowrap;
  padding: 20px 0;
}

.time-box {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: var(--btn);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time-box span {
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
}

.time-box p {
  font-size: 12px;
  margin: 4px 0 0;
  letter-spacing: 1.5px;
}

/* detail acara ---================================================== */
.detail-acara {
  margin: 20px;
  background: var(--bg1);
  border-radius: 20px;
  border: var(--border);
}

.acara-grid {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 500px;
  text-align: left;
  font-size: clamp(2px, 3vw, 17px);
}

.acara-grid li:last-child {
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr; /* biar gak ikut layout 3 kolom */
}

.label {
  font-weight: 500;
  text-align: left;
}

.colon {
  text-align: center;
}

.value {
  text-align: left;
  padding: 0 15px;
}
.acara-grid li {
  display: grid;
  grid-template-columns: 150px 15px auto;
  align-items: center; /* INI YANG BIKIN TITIK DUA DI TENGAH */
  margin-bottom: 12px;
  font-size: clamp(12px, 3vw, 17px);
}

.acara-grid li span:first-child::after {
  content: "";
}

.detail-acara {
  text-align: center;
  padding: 20px;
}

.detail-acara h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

li .label {
  font-weight: 900;
}

.box-acara {
  background: #ffffff;
  border-radius: 20px;
  padding: 10px;
  margin: 20px auto;
  max-width: 700px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* border: var(--border); */
}

.box-acara h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.box-acara ul {
  list-style: none;
  text-align: left;
  padding: 0;
  font-size: 14px;
  line-height: 1.6;
}

.btn-maps {
  display: inline-block;
  background: var(--btn);
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 14px;
  margin-top: 10px;
}

/* link streaming ========================== */
.box-acara {
  text-align: center;
}

.streaming-links {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  padding-bottom: 20px;
  justify-content: center;
}

.btn-stream {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 220px;
  padding: 12px 16px;
  border-radius: 12px;
  font-weight: 500;
  color: #fff;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.btn-stream i {
  font-size: 20px;
}

/* WARNA BRAND */
.btn-stream.tiktok {
  background: linear-gradient(135deg, #000000, #430015);
}

.btn-stream.youtube {
  background: linear-gradient(135deg, #ff0000, #cc0000);
}

/* HOVER */
.btn-stream:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* galeri kami / prewedding ======================================================= */
.galerikami {
  text-align: center;
  font-size: 26px;
  padding-top: 50px;
  margin: 0 auto;
}

.gallery {
  max-width: 900px;
  margin: auto;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 16px;
  /* border: var(--border); */
}

.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* konfirmasi kehadiran ==================================== */
/* =====================
   RSVP SECTION
===================== */
.rsvp {
  margin: 20px;
  padding: 20px;
  text-align: center;
  background: var(--bg1);
  border-radius: 20px;
  border: var(--border);
}

.rsvp h2 {
  font-size: 2rem;
  margin-bottom: 8px;
}

.rsvp p {
  margin-bottom: 40px;
  opacity: 0.8;
}

#rsvp-form {
  max-width: 480px;
  margin: auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 20px;
  /* border: var(--border); */
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-group input {
  border: none;
}
.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px 12px;
  border-radius: 12px;
  border: var(--border);
  font-size: 1rem;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: rgb(214, 2, 2);
  box-shadow: var(--shadow);
}

.btn-submit {
  width: 100%;
  padding: 12px;
  background: var(--btn);
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-submit:hover {
  opacity: 0.9;
}

/* ==========================================gifts ========== */
.gift-section {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background: var(--bg1);
  border-radius: 20px;
  border: var(--border);
}

.gift-box {
  background: #ffe3ff;
  padding: 20px;
  border-radius: 12px;
  max-width: 350px;
  margin: 20px auto;
}

.btn-copy {
  margin-top: 10px;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  background: var(--btn);
  font-family: "poppins", cursive;
}

.logobank {
  width: 40px;
  margin-bottom: 10px;
}

.gift-box {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  /* border: var(--border); */
}
.amplop {
  text-align: center;
  margin-bottom: 30px;
}

.amplop .bank-info {
  padding: 20px; /* jarak dalam */
  border-radius: 10px; /* sudut melengkung */
  font-size: 15px;
}

/* komentar ==================================================== */
/* komentar  */
.komentar-section {
  padding: 8px 20px;
  background: var(--bg1);
  border-radius: 20px;
  margin: 20px;
  border: var(--border);
}

.komentar-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

#formKomentar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  margin: 0 auto 30px;
}

#formKomentar input,
#formKomentar textarea {
  padding: 10px;
  border-radius: 12px;
  border: var(--border);
  font-size: 14px;
  font-family: inherit;
}

#formKomentar textarea {
  resize: none;
  height: 80px;
}

#formKomentar button {
  padding: 10px;
  border-radius: 12px;
  border: none;
  background: var(--btn);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.comment-item {
  padding: 12px;
  border-radius: 12px;
  background: #ffffff10;
  border: var(--border);
  margin: 10px;
}

.comment-item h4 {
  margin: 0 0 6px;
  font-size: 14px;
  font-weight: bold;
}

.comment-item p {
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
}
.status {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
}

.status.success {
  color: #158d00;
}

.status.error {
  color: #ff0808;
}

/*  */
.comment-item {
  padding: 14px;
  border-radius: 14px;
  background: #ffffff12;
  border: var(--border);
  /*  */
  max-width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.comment-name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #ffd86b;
  /*  */
  white-space: normal;
  overflow-wrap: break-word;
}

.comment-text {
  font-size: 13px;
  line-height: 1.6;
  color: #000000;
  /*  */
  white-space: normal; /* IZINKAN TURUN BARIS */
  overflow-wrap: break-word; /* PATAHKAN kata panjang */
  word-wrap: break-word;
  word-break: normal;
  line-height: 1.6;
}

#formKomentar input:focus,
#pesanKomentar:focus,
#formKomentar select:focus {
  outline: none;
  border-color: rgb(214, 2, 2);
  box-shadow: var(--shadow);
}

/* footerrrrrrr ====================================================== */
.footer {
  text-align: center;
  font-size: 10px;
  color: var(--btn);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 20px 20px 0 0;
  border: var(--border);
}

.footer h2,
.footer p {
  padding: 20px;
}

.footer p {
  margin: 0;
}

.footer h1 {
  font-family: "Tangerine", cursive;
  font-weight: 900;
  font-style: normal;
  font-size: clamp(45px, 10vw, 90px);
}
footer {
  background-color: var(--btn);
  color: rgb(255, 255, 255);
  padding-bottom: 80px;
}

/* navigation bar ========================== */

.bottom-nav {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 1000;
}

.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 12px 20px;
  border-radius: 50px;
}

.nav-icons i,
.music-button i,
.music-button,
.nav-icons {
  font-size: 20px;
  color: #333;
  transition: all 0.3s ease-in-out;
}
.nav-icons i:hover,
.music-button:hover,
.nav-icons:hover {
  transform: scale(1.2);
}
.music-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.bottom-nav.hidden {
  display: none;
}

/* responsive media ================== */

@media (max-width: 768px) {
  /* bagian sammpul ============================= */
  .hero {
    background-image: url("foto/image copy 15.png");
    background-position: center;
  }

  /* halaman 3 (data calon pengantin) =============== */
  .desktop {
    display: none;
  }

  .calonmempelai {
    padding: 0;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0;
  }

  .person {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .foto {
    width: 170px;
    border-radius: 20px;
    object-fit: cover;
  }

  .ig-mobile {
    margin: 14px 0;
  }

  .ig-mobile a {
    background: linear-gradient(1600deg, #fcaf45, #fd1d1d, #833ab4);
    padding: 5px 9px;
    border-radius: 10px;
    box-shadow: var(--border);
    color: #ffffff;
    font-size: 14px;
  }

  .ig-mobile i {
    margin-right: 6px;
  }
  .text {
    max-width: 90%;
  }

  .text h2 {
    margin-bottom: 6px;
    font-size: 32px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 1.2; /* paksa 1 baris */
  }

  .text p {
    font-size: 14px;
    line-height: 1.6;
  }
  /* countdown ================================= */
  #countdown {
    justify-content: space-evenly;
    padding: 0 10px;
  }

  .time-box {
    width: 70px;
    height: 70px;
  }

  .time-box span {
    font-size: 20px;
  }

  .time-box p {
    font-size: 11px;
  }

  /* kisah cintaaaaaaaaaaaaaa============================ */
  .story-item,
  .story-item.reverse {
    flex-direction: column;
    text-align: center;
  }

  .story h2 {
    font-size: 26px;
    white-space: nowrap;
  }

  .story-image img {
    width: 170px;
    height: auto;
  }
  /* detail acara =============================== */
  .detail-acara {
    display: flex;
    flex-direction: column;
  }

  .acara-grid li {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .acara-grid .colon {
    display: none;
  }

  .box-acara .value {
    text-align: center;
  }
}
